<style>
    .container-fluid {
        padding: 12px;
    }

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }

    td.alert {
        border-radius: 0%;
        border-color: black; 
        color: red;
        
    }

</style>

<div class="container-fluid">
    
    
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>ซื้อบัตรสมาชิก Vip</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-2" >
        <form class="card card-body w-100">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ชื่อ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="ชื่อ">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">นามสกุล:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="นามสกุล">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">เพศ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="gender" name="gender" placeholder="เพศ">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ที่อยู่:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" name="address" placeholder="ที่อยู่">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">เบอร์โทร:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="tel" name="tel" placeholder="เบอร์โทร">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">อีเมล:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="อีเมล">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">คอร์ส:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="course_data" name="course_data" value="">
                        <% if(data_course.length > 0) {%>
                            <option value="" disabled selected>เลือกคอร์ส</option>
                            <% for(i of data_course){%> 
                                <option  id="course_<%=i.id%>" value="<%=i.id%>_<%=i.price%>"><%=i.name%> - <%=i.price%> บาท</option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-sm-12">
                    <button  class="btn btn-primary w-100" style="padding: 10px;"
                        onclick="return confirm()" disabled>ยืนยันการเลือกซื้อ
                    </button>
                </div>
            </div>
        </form>
    </div>
    
</div>

<script src="/axios/axios.min.js"></script>
<script>
    
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }

    function create_charge(data){
        axios({
            url:'/buy_vip/create_charge',
            method:'post',
            data:data,
            timeout:3000
        }).then((result)=>{
            console.log(result.data);

            // if( result.data.status == 1 ){
            //     window.location="/";
        })
    }
</script>

<script>

    function select(){
        const selectedOption = document.querySelector("select[name=data_add_reuse] option:checked");
        $("input[name=prod_id]").val(selectedOption.getAttribute("data-id"));
        $("input[name=stock]").val(selectedOption.getAttribute("data-id"));
        $("input[name=can_used]").val(selectedOption.getAttribute("data-used"));
    }

    function confirm(){
        let fname = $("input[name=fname]").val();
        let lname = $("input[name=lname]").val();
        let gender = $("input[name=gender]").val();
        let address = $("input[name=address]").val();
        let tel = $("input[name=tel]").val();
        let email = $("input[name=email]").val();
        let course_data = $("select[name=course_data]").val();
        if( fname !== "" && lname !== "" && gender !== "" && address !== "" && tel !== "" && email !== "" && course_data)
        {
            let [course_id, course_price] = course_data.split('_')
            const data = {
                fname: fname,
                lname: lname,
                gender: gender,
                address: address,
                tel: tel,
                email: email,
                course_id: course_id,
                course_price: course_price
            }
            create_charge(data)
        }else{
            toastr.error("กรุณากรอก/เลือกข้อมูลให้ครบถ้วน")
        }
        return false;
        
    }
  
</script>