<style>
    .container-fluid {
        padding: 12px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }

</style>

<div class="container-fluid">
    
    
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>นัดหมายใช้บริการ</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-2" >
        <form class="card card-body w-100" id="make_appointment" action="make_appointment/add" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ชื่อ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="fname" name="f_name" placeholder="ชื่อ">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">นามสกุล:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lname" name="l_name" placeholder="นามสกุล">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">เพศ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="gender" name="gender" placeholder="เพศ">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ที่อยู่:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" name="address" placeholder="ที่อยู่">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">เบอร์โทร:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="tel" name="tel" placeholder="เบอร์โทร">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">อีเมล:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="อีเมล">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">วัน เวลา:</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" id="start_date" name="start_date" step="60"
                    onchange="{selectDatetime(this.value)}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">บริการ:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="serv_data" name="serv_data" value="" disabled>
                        <% if(data_service.length > 0) {%>
                            <option value="" disabled selected>เลือกบริการ</option>
                            <% for(i of data_service){%> 
                                <option  id="service_<%=i.id%>" value="<%=i.id%>_<%=i.time%>"><%=i.name%> - <%=i.time%> นาที - <%=i.price%> บาท</option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ร้าน:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="shop_id" name="shop_id" value="" disabled onchange="selectShop(this.value)">
                        <% if(data_shop.length > 0) {%>
                            <option value="" disabled selected>เลือกร้าน</option>
                            <% for(i of data_shop){%> 
                                <option  id="shop_<%=i.id%>" value="<%=i.id%>"><%=i.shop_name%></option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">พนักงาน:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="emp_id" name="emp_id" value="" disabled>
                        <% if(data_employee.length > 0) {%>
                            <option value="" disabled selected>เลือกพนักงาน</option>
                            <% for(i of data_employee){%> 
                                <option  id="employee_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ห้อง:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="room_id" name="room_id" value="" disabled>
                        <% if(data_room.length > 0) {%>
                            <option value="" disabled selected>เลือกห้อง</option>
                            <% for(i of data_room){%> 
                                <option  id="room_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row pt-2">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary w-100" style="padding: 10px;"
                        onclick="return vali('add')">ยืนยันการนัดหมาย
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/axios/axios.min.js"></script>
<script>
    
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }

    function getServiceData(datetime, shop_id) {
        // console.log(datetime, shop_id)
        axios({
            url:'/services/get_employee_room_available',
            method:'get',
            params:{
                datetime:datetime,
                shop_id:shop_id,
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result.data)
            let employees = result.data.employees;
            let rooms = result.data.rooms;
            // console.log(employees,rooms);
            const selectEmployee = document.getElementById('emp_id');
            const selectRoom = document.getElementById('room_id');

            // Clear the existing options of the select
            selectEmployee.innerHTML = '';
            selectRoom.innerHTML = '';

            if (employees.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกพนักงาน`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
                employees.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.value = item.id;
                    optionElement.text = `${item.f_name} ${item.l_name}`;
                    selectEmployee.appendChild(optionElement);
                });
                selectEmployee.disabled = false;
            }
            else{
                selectEmployee.disabled = true;
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
            }
            if (rooms.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกห้อง`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
                rooms.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.value = item.id;
                    optionElement.text = `${item.name}`;
                    selectRoom.appendChild(optionElement);
                });
                selectRoom.disabled = false;
            }
            else{
                selectRoom.disabled = true
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }
</script>

<script>
    function selectDatetime(value){
        document.getElementById('serv_data').removeAttribute("disabled");
        document.getElementById('shop_id').removeAttribute("disabled");
        checkAvailable()
    }

    function selectShop(value){
        document.getElementById('emp_id').removeAttribute("disabled");
        document.getElementById('room_id').removeAttribute("disabled");
        checkAvailable()
    }

    function checkAvailable(){
        let datetime = $("input[name=start_date]").val();
        let shop = $("select[name=shop_id]").val();
        console.log(datetime,shop);
        if (datetime && shop){
            getServiceData(datetime,shop);
        }
    }

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "add"){
            let f_name = $("input[name=f_name]").val();
            let l_name = $("input[name=l_name]").val();
            let gender = $("input[name=gender]").val();
            let address = $("input[name=address]").val();
            let tel = $("input[name=tel]").val();
            let email = $("input[name=email]").val();
            let datetime = $("input[name=start_date]").val();
            let serv_id = $("select[name=serv_data]").val();
            let shop_id = $("select[name=shop_id]").val();
            let emp_id = $("select[name=emp_id]").val();
            let room_id = $("select[name=room_id]").val();
            if( f_name !== "" && l_name !== "" && gender !== "" && address !== "" && tel !== "" && email !== "" && 
                datetime !== "" && serv_id && shop_id && emp_id && room_id
            ){
                $("#make_appointment").submit();
            }else{
                toastr.error("กรุณากรอก/เลือกข้อมูลให้ครบถ้วน")
            }
            return false;
        }
        
    }
  
</script>