<style>
    .container-fluid {
        padding: 12px;
    }

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }

    td.alert {
        border-radius: 0%;
        border-color: black; 
        color: red;
        
    }

</style>

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>ใช้งานบัตรสมาชิก Vip</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-2" >
        <div class="w-100" >
            <% if (!data_vip) {%>
                <div class="d-flex justify-content-center" >
                    <div class="card card-body" style="max-width: 800px;">
                        <div class="form-group d-flex" style="gap: 10px">
                            <div class="flex-grow-1">
                                <label >หมายเลขบัตร:</label>
                                <input type="text" class="form-control" id="v_id" name="v_id" placeholder="หมายเลขบัตร">
                            </div>
                            <div class="flex-grow-1">
                                <label>รหัสผ่าน:</label>
                                <input type="password" class="form-control" id="v_pwd" name="v_pwd" placeholder="รหัสผ่าน">
                            </div>
                            <div class="d-flex flex-wrap align-content-end">
                                <button type="button" class="btn btn-info" onclick="return checkCode()">ตรวจสอบ</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="card card-body w-100">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">หมายเลขบัตร:</label>
                        <label id="vip" name="vip" class="col-sm-9 col-form-label"><%= data_vip.id%></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ชื่อ:</label>
                        <label id="name" name="name" class="col-sm-9 col-form-label"><%= data_vip.f_name%> <%= data_vip.l_name%></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">เพศ:</label>
                        <label id="gender" name="gender" class="col-sm-9 col-form-label"><%= data_vip.gender%></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ที่อยู่:</label>
                        <label id="address" name="address" class="col-sm-9 col-form-label"><%= data_vip.address%></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">เบอร์โทร:</label>
                        <label id="tel" name="tel" class="col-sm-9 col-form-label"><%= data_vip.tel%></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">อีเมล:</label>
                        <label id="email" name="email" class="col-sm-9 col-form-label"><%= data_vip.email%></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">คอร์ส:</label>
                        <label id="course" name="course" class="col-sm-9 col-form-label"><%= data_vip.course_name%></label>
                        <!-- <div class="col-sm-9 col-form-label">
                            <div><label id="service1" name="service1" >บริการ1</label></div>
                            <div><label id="service2" name="service2" >บริการ1</label></div>
                        </div> -->
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">วันที่เข้าเป็น:</label>
                        <label id="่join_date" name="่join_date" class="col-sm-9 col-form-label">
                            <% let f_join_date = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short', hour12: false}).format(data_vip.join_date) %>
                            <%= f_join_date%>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">วันที่หมดอายุ:</label>
                        <label id="expire_date" name="expire_date" class="col-sm-9 col-form-label">
                            <% let f_expire_date = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short', hour12: false}).format(data_vip.expire_date) %>
                            <%= f_expire_date%>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ราคาที่ใช้ไป:</label>
                        <label id="acc_val" name="acc_val" class="col-sm-9 col-form-label"><%= data_vip.acc_val%> บาท</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">ราคาคงเหลือ:</label>
                        <label id="remain_val" name="remain_val" class="col-sm-9 col-form-label"><%= data_vip.remain_val%> บาท</label>
                    </div>
                    <div class="form-group row pt-2">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary w-100" style="padding: 10px;"
                                data-toggle="modal" data-target="#modal-add-appointment"
                                onclick="return ">นัดหมายใช้บริการ
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary w-100" style="padding: 10px;" onclick="closeCard()">
                                ออกจากการใช้งานบัตร
                            </button>
                        </div>
                    </div>
                </div>
            <% } %>
            
            <% if (data_appt.length > 0) {%>
                <div class="d-flex flex-wrap w-100" style="gap: 10px;">
                    <% for(const  [i, val] of data_appt.entries()){%> 
                    <div class="card card-body " style="min-width: 400px;">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">หมายเลขนัดหมาย:</label>
                            <label class="col-sm-9 col-form-label"><%= data_appt[i].id%></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">วันเวลาเริ่มต้น:</label>
                            <label class="col-sm-9 col-form-label">
                                <% let f_start_date = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short', hour12: false}).format(data_appt[i].start_date) %>
                                <%= f_start_date%>
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">วันเวลาสิ้นสุด:</label>
                            <label class="col-sm-9 col-form-label">
                                <% let f_end_date = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short', hour12: false}).format(data_appt[i].end_date) %>
                                <%= f_end_date%>
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">บริการ:</label>
                            <label class="col-sm-9 col-form-label"><%= data_appt[i].serv_name%></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ร้าน:</label>
                            <label class="col-sm-9 col-form-label"><%= data_appt[i].shop_name%></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">พนักงาน:</label>
                            <label class="col-sm-9 col-form-label">
                                <%= data_appt[i].emp_fname%> <%= data_appt[i].emp_lname%>
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ห้อง:</label>
                            <label class="col-sm-9 col-form-label"><%= data_appt[i].room_name%></label>
                        </div>
                        <% if (data_appt[i].status=="Scheduled") {%>
                            <div class="form-group row pt-2">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-info w-100" style="padding: 10px;"
                                        data-toggle="modal" data-target="#modal-update-appointment"
                                        onclick="update('<%= JSON.stringify(data_appt[i])%>')">แก้ไขการนัดหมาย
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-danger w-100" style="padding: 10px;" 
                                        onclick="return del('<%= data_appt[i].id%>')">ยกเลิกการนัดหมาย 
                                    </button>
                                </div>
                            </div>
                        <% } else if (data_appt[i].status=="Onprocess") {%>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">สถานะ:</label>
                                <label class="col-sm-9 col-form-label" style="color: cyan;">กำลังใช้บริการ</label>
                            </div>
                        <% } else if (data_appt[i].status=="Completed") {%>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">สถานะ:</label>
                                <label class="col-sm-9 col-form-label" style="color: green;">บริการเสร็จแล้ว</label>
                            </div>
                        <% } else if (data_appt[i].status=="Cancelled") {%>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">สถานะ:</label>
                                <label class="col-sm-9 col-form-label" style="color: red;">ถูกยกเลิก</label>
                            </div>
                        <% }%>
                    </div>
                
                    <% }%>
                </div>
            <% }%>

            </div>
    </div>

</div>

<% if (data_vip) {%>
<!-- =================== Modal Add Appointment ===================-->
<div class="modal fade" id="modal-add-appointment">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">นัดหมายใช้บริการ</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>

        <form id="add_appointment" action="manage_vip/add_appointment" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
            <input type="number" name="vip_id" class="d-none" value="<%= data_vip.id%>">
            <input type="number" name="cust_id" class="d-none" value="<%= data_vip.cust_id%>">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">วัน เวลา:</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" id="start_date" name="start_date" step="60"
                    onchange="{selectDatetime(this.value)}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">บริการ:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="serv_data" name="serv_data" value="" disabled>
                        <% if(data_service.length > 0) {%>
                            <option value="" disabled selected>เลือกบริการ</option>
                            <% for(i of data_service){%> 
                                <option  id="service_<%=i.serv_func_id%>" value="<%=i.serv_func_id%>_<%=i.time%>"><%=i.name%> - <%=i.time%> นาที - <%=i.price%> บาท</option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ร้าน:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="shop_id" name="shop_id" value="" disabled onchange="selectShop(this.value)">
                        <% if(data_shop.length > 0) {%>
                            <option value="" disabled selected>เลือกร้าน</option>
                            <% for(i of data_shop){%> 
                                <option  id="shop_<%=i.id%>" value="<%=i.id%>"><%=i.shop_name%></option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
           
            <div class="form-group row">
                <label for="employee" class="col-sm-2 col-form-label">พนักงาน:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="emp_id" name="emp_id" value="" disabled>
                        <% if(data_employee.length > 0) {%>
                            <option value="" disabled selected>เลือกพนักงาน</option>
                            <% for(i of data_employee){%> 
                                <option  id="employee_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="room" class="col-sm-2 col-form-label">ห้อง:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="room_id" name="room_id" value="" disabled>
                        <% if(data_room.length > 0) {%>
                            <option value="" disabled selected>เลือกห้อง</option>
                            <% for(i of data_room){%> 
                                <option  id="room_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                            <%} %> 
                        <% } else{%>  
                            <option value="" disabled selected>ไม่พบข้อมูล</option>
                        <%} %> 
                    </select>
                </div>
            </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('add')">ยืนยัน</button>
            </div>

        </form>

      </div>
    </div>
</div>
<% }%>

<% if (data_appt.length> 0) {%>
    <!-- =================== Modal Update Appointment ===================-->
    <div class="modal fade" id="modal-update-appointment" >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-purple">
              <h4 class="modal-title ">แก้ไขการนัดหมาย</h4>
              <button type="button " class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-light">&times;</span>
              </button>
            </div>
    
            <form id="update_appointment" action="manage_vip/update_appointment" method="post">
                <div class="modal-body">
                <!-- ============================== Form ==============================-->
                <input type="number" name="id_update" class="d-none" value="<%= data_appt[0].id%>">
                <div class="form-group row">
                    <label for="datetime" class="col-sm-2 col-form-label">วัน เวลา:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="form-control" id="Ustart_date" name="Ustart_date" step="60" 
                        onchange="checkAvailable4update()">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">บริการ:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="Userv_data" name="Userv_data" value="">
                            <% if(data_service.length > 0) {%>
                                <option value="" disabled selected>เลือกบริการ</option>
                                <% for(i of data_service){%> 
                                    <option  id="Userv_<%=i.serv_func_id%>" value="<%=i.serv_func_id%>_<%=i.time%>"><%=i.name%> - <%=i.time%> นาที - <%=i.price%> บาท</option>
                                <%} %> 
                            <% } else{%>  
                                <option value="" disabled selected>ไม่พบข้อมูล</option>
                            <%} %> 
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ร้าน:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="Ushop_id" name="Ushop_id" value="" onchange="checkAvailable4update()">
                            <% if(data_shop.length > 0) {%>
                                <option value="" disabled selected>เลือกร้าน</option>
                                <% for(i of data_shop){%> 
                                    <option  id="Ushop_<%=i.id%>" value="<%=i.id%>"><%=i.shop_name%></option>
                                <%} %> 
                            <% } else{%>  
                                <option value="" disabled selected>ไม่พบข้อมูล</option>
                            <%} %> 
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="employee" class="col-sm-2 col-form-label">พนักงาน:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="Uemp_id" name="Uemp_id"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="room" class="col-sm-2 col-form-label">ห้อง:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="Uroom_id" name="Uroom_id" value="" ></select>
                    </div>
                </div>
                </div>
    
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-primary" onclick="return vali('update')">ยืนยัน</button>
                </div>
    
            </form>
    
          </div>
        </div>
    </div>
    
    
    <form id="cancel" action="manage_vip/cancel_appointment" method="post" class="d-inline">
        <input type="number" name="id_cancel" class="d-none" value="<%= data_appt[0].id%>">
    </form>
    
<% }%>



<script src="/axios/axios.min.js"></script>
<script>
    
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }

    function vertify_vip(id,pwd){
        axios({
            url:'/manage_vip/vertify',
            method:'post',
            data:{
                id:id,
                pwd:pwd
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result.data);
            if( result.data.id){
                window.location="./manage_vip";
            }else{
                toastr.error(result.data.code)
            }

            // if( result.data.status == 1 ){
            //     window.location="/";
        })
    }

    function closeCard() {
        axios({
            url:'/manage_vip/close_card',
            method:'post',
            timeout:3000
        }).then((result)=>{
            // console.log(result)
            if (result.status==200){
                window.location="./manage_vip";
            }else{
                toastr.error(result.status)
            }
        })
    }

    function getServiceData4add(datetime, shop_id) {
        // console.log(datetime, shop_id)
        axios({
            url:'/services/get_employee_room_available',
            method:'get',
            params:{
                datetime:datetime,
                shop_id:shop_id,
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result.data)
            let employees = result.data.employees;
            let rooms = result.data.rooms;
            // console.log(employees,rooms);
            const selectEmployee = document.getElementById('emp_id');
            const selectRoom = document.getElementById('room_id');

            // Clear the existing options of the select
            selectEmployee.innerHTML = '';
            selectRoom.innerHTML = '';

            if (employees.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกพนักงาน`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
                employees.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.value = item.id;
                    optionElement.text = `${item.f_name} ${item.l_name}`;
                    selectEmployee.appendChild(optionElement);
                });
                selectEmployee.disabled = false;
            }
            else{
                selectEmployee.disabled = true;
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
            }
            if (rooms.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกห้อง`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
                rooms.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.value = item.id;
                    optionElement.text = `${item.name}`;
                    selectRoom.appendChild(optionElement);
                });
                selectRoom.disabled = false;
            }
            else{
                selectRoom.disabled = true
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }

    // selected_emp, selected_room is optional for setup modal
    function getServiceData4update(appt_id, datetime, shop_id, selected_emp, selected_room) {
        // console.log(datetime, shop_id)
        axios({
            url:'/services/get_employee_room_4_change',
            method:'get',
            params:{
                appt_id:appt_id,
                datetime:datetime,
                shop_id:shop_id,
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result.data)
            let employees = result.data.employees;
            let rooms = result.data.rooms;
            // console.log(employees,rooms);
            
            const selectEmployee = document.getElementById('Uemp_id');
            const selectRoom = document.getElementById('Uroom_id');

            // Clear the existing options of the select
            selectEmployee.innerHTML = '';
            selectRoom.innerHTML = '';

            if (employees.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกพนักงาน`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
                employees.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.id = "Uemp_"+item.id;
                    optionElement.value = item.id;
                    optionElement.text = `${item.f_name} ${item.l_name}`;
                    selectEmployee.appendChild(optionElement);
                });
                selectEmployee.disabled = false;
            }
            else{
                selectEmployee.disabled = true;
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
            }
            if (rooms.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกห้อง`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
                rooms.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.id = "Uroom_"+item.id;
                    optionElement.value = item.id;
                    optionElement.text = `${item.name}`;
                    selectRoom.appendChild(optionElement);
                });
                selectRoom.disabled = false;
            }
            else{
                selectRoom.disabled = true
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
            }
            if (selected_emp && selected_room) {
                $(`option[id=Uemp_${selected_emp}]`).attr("selected","true"),
                $(`option[id=Uroom_${selected_room}]`).attr("selected","true")
            }
        }).catch((error)=>{
            toastr.error("404 Error Not Found",error)
        });
    }
</script>

<script>
    function selectDatetime(value){
        document.getElementById('serv_data').removeAttribute("disabled");
        document.getElementById('shop_id').removeAttribute("disabled");
        checkAvailable4add()
    }

    function selectShop(value){
        document.getElementById('emp_id').removeAttribute("disabled");
        document.getElementById('room_id').removeAttribute("disabled");
        checkAvailable4add()
    }

    function checkAvailable4add(){
        let datetime = $("input[name=start_date]").val();
        let shop = $("select[name=shop_id]").val();
        console.log(datetime,shop);
        if (datetime && shop){
            getServiceData4add(datetime,shop);
        }
    }

    function checkCode(){
        let id = $("input[name=v_id]").val();
        let pwd = $("input[name=v_pwd]").val();
        if(isNaN(id)){
            toastr.error(`! หมายเลขบัตรไม่ถูกต้อง`)
        }else if( id !== "" && pwd !== ""){
            vertify_vip(id,pwd);
        }else{
            toastr.error(`! กรุณากรอกข้อมูลให้ครบถ้วน`)
        }
    }

    let oldOpServ = "";
    let oldOpShop = "";
    function update(data){
        data = JSON.parse(data);
        $("input[name=id_update]").val(data.id);
        $("input[name=Ustart_date]").val(formatDateTimeForInput(data.start_date));
        let new_select1 = data.serv_id;
        $(`option[id=Userv_${new_select1}]`).attr("selected","true");
        if(oldOpServ !== new_select1 ){
            if(oldOpServ != ""){
                $(`option[id=Userv_${oldOpServ}]`).removeAttr("selected");
            }
            oldOpServ = new_select1 ;
        }
        let new_select2 = data.shop_id;
        $(`option[id=Ushop_${new_select2}]`).attr("selected","true");
        if(oldOpShop !== new_select2 ){
            if(oldOpShop != ""){
                $(`option[id=Ushop_${oldOpShop}]`).removeAttr("selected");
            }
            oldOpShop = new_select2 ;
        }
        checkAvailable4update(data.emp_id,data.room_id)
        // $(`option[id=Uemp_${data.emp_id}]`).attr("selected","true"),
        // $(`option[id=Uroom_${data.room_id}]`).attr("selected","true")
        
    }
    
    function del(id){
        $("input[name=id_cancel]").val(parseInt(id))
        if(confirm("ยืนยันการยกเลิกนัด") == true){
            $("#cancel").submit();
        }
    }

    function checkAvailable4update(selected_emp,selected_room){
        let appt_id = $("input[name=id_update]").val();;
        let datetime = $("input[name=Ustart_date]").val();
        let shop_id = $("select[name=Ushop_id]").val();
        getServiceData4update(appt_id,datetime,shop_id,selected_emp,selected_room);
    }

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "add"){
            let datetime = $("input[name=start_date]").val();
            let serv_id = $("select[name=serv_data]").val();
            let shop_id = $("select[name=shop_id]").val();
            let emp_id = $("select[name=emp_id]").val();
            let room_id = $("select[name=room_id]").val();
            if( datetime !== "" && serv_id && shop_id && emp_id && room_id ){
                $("#add_appointment").submit();
            }else{
                toastr.error("กรุณากรอก/เลือกข้อมูลให้ครบถ้วน")
            }
            return false;
        }else if(mode === "update"){
            let appt_id = $("input[name=id_update]").val();
            let start_date = $("input[name=Ustart_date]").val();
            let serv_id = $("select[name=Userv_data]").val();
            let shop_id = $("select[name=Ushop_id]").val();
            let emp_id = $("select[name=Uemp_id]").val();
            let room_id = $("select[name=Uroom_id]").val();
            if( appt_id !== "" && start_date !== "" && serv_id && shop_id && emp_id && room_id){
                $("#update_appointment").submit();
            }else{
                toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
            }
            return false;
        }
        
    }
  
</script>