<style>
    .container-fluid {
        padding: 12px;
    }

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }

    td.alert {
        border-radius: 0%;
        border-color: black; 
        color: red;
        
    }

</style>

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>ใช้งานบัตรสมาชิก Vip</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-2" >
        <form class="w-100" id="make_appointment" action="make_appointment_vip" method="post">
            <div class="card card-body w-100">
                <div class="d-flex form-group " style="gap: 5px">
                    <div class="flex-grow-1">
                        <label >หมายเลขบัตร:</label>
                        <input type="text" class="form-control" id="vip" name="vip" placeholder="หมายเลขบัตร">
                    </div>
                    <div class="flex-grow-1">
                        <label>รหัสผ่าน:</label>
                        <input type="text" class="form-control" id="vip" name="vip" placeholder="รหัสผ่าน">
                    </div>
                    <div class="d-flex flex-wrap align-content-end">
                        <button type="button" class="btn btn-info" onclick="return checkCode()">ตรวจสอบ</button>
                    </div>
                </div>
            </div>
            <div class="card card-body w-100">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">หมายเลขบัตร:</label>
                    <label id="vip" name="vip" class="col-sm-9 col-form-label">หมายเลขบัตร</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ชื่อ:</label>
                    <label id="name" name="name" class="col-sm-9 col-form-label">ชื่อ นามสกุล</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">เพศ:</label>
                    <label id="gender" name="gender" class="col-sm-9 col-form-label">เพศ</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ที่อยู่:</label>
                    <label id="address" name="address" class="col-sm-9 col-form-label">ที่อยู่</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">เบอร์โทร:</label>
                    <label id="tel" name="tel" class="col-sm-9 col-form-label">เบอร์โทร</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">อีเมล:</label>
                    <label id="email" name="email" class="col-sm-9 col-form-label">อีเมล</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">คอร์ส:</label>
                    <label id="course" name="course" class="col-sm-9 col-form-label">คอร์ส1</label>
                    <!-- <div class="col-sm-9 col-form-label">
                        <div><label id="service1" name="service1" >บริการ1</label></div>
                        <div><label id="service2" name="service2" >บริการ1</label></div>
                    </div> -->
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">วันที่เข้าเป็น:</label>
                    <label id="่join_date" name="่join_date" class="col-sm-9 col-form-label">วันที่เวลา</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">วันที่หมดอายุ:</label>
                    <label id="expire_date" name="expire_date" class="col-sm-9 col-form-label">วันที่เวลา</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ราคาที่ใช้ไป:</label>
                    <label id="acc_val" name="acc_val" class="col-sm-9 col-form-label">0 บาท</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">ราคาคงเหลือ:</label>
                    <label id="remain_val" name="remain_val" class="col-sm-9 col-form-label">0 บาท</label>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-info w-100" style="padding: 10px;"
                            data-toggle="modal" data-target="#modal-add-appointment"
                            onclick="return ">นัดหมายใช้บริการ
                        </button>
                    </div>
                </div>
            </div>
        
        </form>
    </div>

</div>

<!-- =================== Modal Add Appointment ===================-->
<div class="modal fade" id="modal-add-appointment">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">นัดหมายใช้บริการ</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>

        <form id="mange_update_appointment" action="manage_vip/add_appointment" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
            <div class="form-group row">
                <label for="datetime" class="col-sm-2 col-form-label">วัน เวลา:</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" id="datetime" name="datetime" step="60"
                    onchange="{selectDatetime(this.value)}">
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">บริการ:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="service" name="service" value="" disabled onchange="selectService(this.value)">
                        <option id="service_none" value="" ></option>
                        <% for(i of data_service){%> 
                            <option  id="service_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ร้าน:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="shop" name="shop" value="" disabled onchange="selectService(this.value)">
                        <option id="shop_none" value="" ></option>
                        <% for(i of data_shop){%> 
                            <option  id="shop_<%=i.id%>" value="<%=i.id%>"><%=i.shop_name%></option>
                        <%} %> 
                    </select>
                </div>
            </div>
           
            <div class="form-group row">
                <label for="employee" class="col-sm-2 col-form-label">พนักงาน:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="employee" name="employee" disabled onchange="selectService(this.value)">
                        <option id="employee_none" value="" ></option>
                        <% for(i of data_employee){%> 
                            <option  id="employee_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                        <%} %> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="room" class="col-sm-2 col-form-label">ห้อง:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="room" name="room" value="" disabled onchange="selectService(this.value)">
                        <option id="room_none" value="" ></option>
                        <% for(i of data_room){%> 
                            <option  id="room_<%=i.id%>" value="<%=i.id%>"><%=i.name%></option>
                        <%} %> 
                    </select>
                </div>
            </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('update_product')">ยืนยัน</button>
            </div>

        </form>

      </div>
    </div>
</div>

<script src="/axios/axios.min.js"></script>
<script>
    
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }
</script>

<script>
    function selectDatetime(value){
        document.getElementById('service').removeAttribute("disabled"); //document.getElementById('service').setAttribute("disabled","disabled");
        document.getElementById('shop').removeAttribute("disabled");
        document.getElementById('employee').removeAttribute("disabled");
        document.getElementById('room').removeAttribute("disabled");
    }

    function selectService(value){
        console.log(value);
    }

    function checkCode(){
        let code = $("input[name=code]").val();
        console.log(code);
    }

    // function select(){
    //     const selectedOption = document.querySelector("select[name=data_add_reuse] option:checked");
    //     $("input[name=prod_id]").val(selectedOption.getAttribute("data-id"));
    //     $("input[name=stock]").val(selectedOption.getAttribute("data-id"));
    //     $("input[name=can_used]").val(selectedOption.getAttribute("data-used"));
    // }

    function update(mode,data){
        data = JSON.parse(data)
        if (mode === "add"){
            $("input[name=Iid]").val(data.id);
            $("input[name=Iname]").val(data.name);
            $("input[name=Itype]").val(data.type);
            $("input[name=Istock]").val(data.stock);
            $("input[name=Iamount]").val(0);
        }
        else if (mode === "remove"){
            $("input[name=Did]").val(data.id);
            $("input[name=Dname]").val(data.name);
            $("input[name=Dtype]").val(data.type);
            $("input[name=Dstock]").val(data.stock);
            $("input[name=Damount]").val(0);
        }
        else if (mode === "update_reuse"){
            $("input[name=Uid]").val(data.id);
            $("input[name=Uprod_id]").val(data.prod_id);
            $("input[name=Uprod_name]").val(data.prod_name);
            $("input[name=Uprod_type]").val(data.type_name);
            $("input[name=Umax_used]").val(data.max_used);
            $("input[name=Uremaining]").val(data.remaining);
            $("input[name=Uremaining_backup]").val(data.remaining);
        }
    }
    
    function del(id){
        $("input[name=id_del_reuse]").val(parseInt(id))
        if(confirm("ยืนยันการลบข้อมูล") == true){
            $("#delete_reuse").submit();
        }
    }

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "add_stock"){
            let amount = parseInt(($("input[name=Iamount]").val()));
            if( amount > 0){
                $("#mange_add_stock").submit();
                
            }else{
                toastr.error("จำนวนต้องมากกว่า 0")
            }
            return false;
        }else if(mode === "remove_stock"){
            let stock = parseInt(($("input[name=Dstock]").val()));
            let amount = parseInt(($("input[name=Damount]").val()));
            // console.log(stock,amount)
            if( amount > 0 && amount <= stock){
                $("#mange_remove_stock").submit();
            }else{
                toastr.error(`จำนวนต้องมากกว่า 0 และ ไม่เกิน ${stock}`)
            }
            return false;
        }else if (mode === "add_reuse"){
            let prod_id = parseInt(($("input[name=prod_id]").val()));
            let stock = parseInt(($("input[name=stock]").val()));
            let can_used = parseInt(($("input[name=can_used]").val()));
            if( prod_id !== undefined, prod_id !== undefined, prod_id !== undefined){
                $("#mange_add_reuse").submit();
            }else{
                toastr.error(`! กรุณาเลือกสินค้า`)
            }
            return false;
        }else if (mode === "update_reuse"){
            let max_used = parseInt(($("input[name=Umax_used]").val()));
            let remaining = parseInt(($("input[name=Uremaining]").val()));
            let remaining_backup = parseInt(($("input[name=Uremaining_backup]").val()));
            if( remaining === remaining_backup){
                $("#modal-update-reuse").modal("hide")
            }
            else if( remaining !== "" && remaining >= 0 && remaining <= max_used){
                $("#mange_update_reuse").submit();
            }
            else{
                toastr.error(`จำนวนต้องไม่น้อยกว่า 0 และไม่เกิน ${max_used}`)
            }
            return false;
        }
        
    }
  
</script>