<style>
    .container-fluid {
        padding: 12px;
    }

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }

    td.alert {
        border-radius: 0%;
        border-color: black; 
        color: red;
        
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        clip:rect(0,0,0,0);
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

    .show {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .show:not(:checked) > input {
        position:absolute;
        clip:rect(0,0,0,0);
    }
    .show:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .show:not(:checked) > label:before {
        content: '★ ';
    }
    .show > input:checked ~ label {
        color: #ffc700;    
    }


</style>

<div class="container-fluid">
    
    
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>ให้คะแนนความพึงพอใจ</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-2" >
        <div class="w-100">
            <div class="card card-body w-100">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label d-flex justify-content-end">หมายเลขใบเสร็จ:</label>
                    <div class="col-sm-8 ">
                        <input type="text" class="form-control" id="code" name="code" placeholder="หมายเลขใบเสร็จ"
                        value="<%= search_sale%>">
                    </div>
                    <div class="col-sm-2 ">
                        <button type="button" class="btn btn-info" onclick="search()">ตรวจสอบ</button>
                    </div>
                </div>
            </div>
            <% if (data_sale.length> 0) {%>
            <div class="card card-body w-100">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">หมายเลขใบเสร็จ:</label>
                    <label id="vip" name="vip" class="col-sm-9 col-form-label"><%= data_sale[0].id%></label>
                    <input type="number" name="sale_id" class="d-none" value="<%= data_sale[0].id%>">
                </div>
                <% if (data_sale[0].serv_rating && data_sale[0].emp_rating && data_sale[0].room_rating) {%>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">บริการที่ซื้อ:</label>
                    <div class="col-sm-10">
                        <div class="show">
                            <input type="number" name="show_serv" class="d-none" value="<%= data_sale[0].serv_rating%>">
                            <input type="radio" id="star5_4" name="show_1" value="5" disabled/>
                            <label for="star5_4" title="text">5 stars</label>
                            <input type="radio" id="star4_4" name="show_1" value="4" disabled/>
                            <label for="star4_4" title="text">4 stars</label>
                            <input type="radio" id="star3_4" name="show_1" value="3" disabled/>
                            <label for="star3_4" title="text">3 stars</label>
                            <input type="radio" id="star2_4" name="show_1" value="2" disabled/>
                            <label for="star2_4" title="text">2 stars</label>
                            <input type="radio" id="star1_4" name="show_1" value="1" disabled/>
                            <label for="star1_4" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ผู้ให้บริการ:</label>
                    <div class="col-sm-10">
                        <div class="show">
                            <input type="number" name="show_emp" class="d-none" value="<%= data_sale[0].emp_rating%>">
                            <input type="radio" id="star5_5" name="show_2" value="5" disabled/>
                            <label for="star5_5" title="text">5 stars</label>
                            <input type="radio" id="star4_5" name="show_2" value="4" disabled/>
                            <label for="star4_5" title="text">4 stars</label>
                            <input type="radio" id="star3_5" name="show_2" value="3" disabled/>
                            <label for="star3_5" title="text">3 stars</label>
                            <input type="radio" id="star2_5" name="show_2" value="2" disabled/>
                            <label for="star2_5" title="text">2 stars</label>
                            <input type="radio" id="star1_5" name="show_2" value="1" disabled/>
                            <label for="star1_5" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ห้องที่ให้บริการ:</label>
                    <div class="col-sm-10">
                        <div class="show">
                            <input type="number" name="show_room" class="d-none" value="<%= data_sale[0].room_rating%>">
                            <input type="radio" id="star5_6" name="show_3" value="5" disabled/>
                            <label for="star5_6" title="text">5 stars</label>
                            <input type="radio" id="star4_6" name="show_3" value="4" disabled/>
                            <label for="star4_6" title="text">4 stars</label>
                            <input type="radio" id="star3_6" name="show_3" value="3" disabled/>
                            <label for="star3_6" title="text">3 stars</label>
                            <input type="radio" id="star2_6" name="show_3" value="2" disabled/>
                            <label for="star2_6" title="text">2 stars</label>
                            <input type="radio" id="star1_6" name="show_3" value="1" disabled/>
                            <label for="star1_6" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ข้อเสนอแนะ:</label>
                    <div class="col-sm-10 ">
                        <textarea id="show_comment" name="show_comment" rows="5" cols="40" maxlength="200" readonly><%= data_sale[0].comment%></textarea>
                    </div>
                </div>
                <% } else {%>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">บริการที่ซื้อ:</label>
                    <div class="col-sm-10">
                        <div class="rate">
                            <input type="number" name="rate_serv" class="d-none" >
                            <input type="radio" id="star5_1" name="rate_1" value="5" onchange="rate('serv',value)"/>
                            <label for="star5_1" title="text">5 stars</label>
                            <input type="radio" id="star4_1" name="rate_1" value="4" onchange="rate('serv',value)"/>
                            <label for="star4_1" title="text">4 stars</label>
                            <input type="radio" id="star3_1" name="rate_1" value="3" onchange="rate('serv',value)"/>
                            <label for="star3_1" title="text">3 stars</label>
                            <input type="radio" id="star2_1" name="rate_1" value="2" onchange="rate('serv',value)"/>
                            <label for="star2_1" title="text">2 stars</label>
                            <input type="radio" id="star1_1" name="rate_1" value="1" onchange="rate('serv',value)"/>
                            <label for="star1_1" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ผู้ให้บริการ:</label>
                    <div class="col-sm-10">
                        <div class="rate">
                            <input type="number" name="rate_emp" class="d-none" >
                            <input type="radio" id="star5_2" name="rate_2" value="5" onchange="rate('emp',value)"/>
                            <label for="star5_2" title="text">5 stars</label>
                            <input type="radio" id="star4_2" name="rate_2" value="4" onchange="rate('emp',value)"/>
                            <label for="star4_2" title="text">4 stars</label>
                            <input type="radio" id="star3_2" name="rate_2" value="3" onchange="rate('emp',value)"/>
                            <label for="star3_2" title="text">3 stars</label>
                            <input type="radio" id="star2_2" name="rate_2" value="2" onchange="rate('emp',value)"/>
                            <label for="star2_2" title="text">2 stars</label>
                            <input type="radio" id="star1_2" name="rate_2" value="1" onchange="rate('emp',value)"/>
                            <label for="star1_2" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ห้องที่ให้บริการ:</label>
                    <div class="col-sm-10">
                        <div class="rate">
                            <input type="number" name="rate_room" class="d-none" >
                            <input type="radio" id="star5_3" name="rate_3" value="5" onchange="rate('room',value)"/>
                            <label for="star5_3" title="text">5 stars</label>
                            <input type="radio" id="star4_3" name="rate_3" value="4" onchange="rate('room',value)"/>
                            <label for="star4_3" title="text">4 stars</label>
                            <input type="radio" id="star3_3" name="rate_3" value="3" onchange="rate('room',value)"/>
                            <label for="star3_3" title="text">3 stars</label>
                            <input type="radio" id="star2_3" name="rate_3" value="2" onchange="rate('room',value)"/>
                            <label for="star2_3" title="text">2 stars</label>
                            <input type="radio" id="star1_3" name="rate_3" value="1" onchange="rate('room',value)"/>
                            <label for="star1_3" title="text">1 star</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ข้อเสนอแนะ:</label>
                    <div class="col-sm-10 ">
                        <textarea id="comment" name="comment" rows="5" cols="40" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-info w-100" style="padding: 10px;"
                            onclick="return vali('submit')">ยืนยันการให้คะแนนความพึงพอใจ
                        </button>
                    </div>
                </div>
                <% }%>
            </div>
            <% }%>
        </div>
    </div>

</div>

<script src="/axios/axios.min.js"></script>
<script>
    let serv = $("input[name=show_serv]").val();
    let emp = $("input[name=show_serv]").val();
    let room = $("input[name=show_serv]").val();
    if (serv && emp && room){
        $(`input[id=star${serv}_4]`).attr("checked","true");
        $(`input[id=star${emp}_5]`).attr("checked","true");
        $(`input[id=star${room}_6]`).attr("checked","true");
    }
    
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }

    function submit_rating(sale_id, rate_serv, rate_emp, rate_room, comment){
        axios({
            url:'/rating/submit',
            method:'post',
            data:{
                sale_id: sale_id,
                rate_serv: rate_serv, 
                rate_emp: rate_emp, 
                rate_room: rate_room, 
                comment: comment
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result)
            if (result.status==200){
                window.location=`./rating?sale_id=${sale_id}`;
            }else{
                toastr.error(result.status)
            }
        })
    }
</script>

<script>

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "submit"){
            let sale_id = $("input[name=sale_id]").val();
            let rate_serv = $("input[name=rate_serv]").val();
            let rate_emp = $("input[name=rate_emp]").val();
            let rate_room = $("input[name=rate_room]").val();
            let comment = $("textarea[name=comment]").val();
            if( sale_id && rate_serv && rate_emp && rate_room){
                submit_rating(sale_id, rate_serv, rate_emp, rate_room, comment);
            }else{
                toastr.error("กรุณาลงคะแนนให้ครบถ้วน")
            }
            return false;
        }
    }

    function search() {
        let appt_id = $("input[name=code]").val();
        if (appt_id!=""){
            window.location = `../rating?sale_id=${appt_id}`;
        }
    }

    function rate(mode,value) {
        $(`input[name=rate_${mode}]`).val(parseInt(value));
    }
  
</script>