<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายงานการใช้สินค้า</title>
    <style>
        
        .report {
            width: 90%;
            padding: 20px;
            margin: 0 auto;
        }
        .header {
            padding: 10px;
            text-align: center;
        }
        .report-table {
            width: 100%;
            border-collapse: collapse;
        }

        .report-table th, .report-table td {
            border: 1px solid #ddd;
            padding: 10px;
        }

    </style>
</head>
<body>
    <div class="report">
        <div class="col-12">
            <div class="card card-body">
                <div class="header">
                    <h2>รายงานการใช้สินค้า <%=value%></h2>
                </div>
                
                <table id="table" class="report-table" >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ชื่อ</th>
                            <th>ราคา</th>
                            <th>จำนวนการใช้ (ครั้ง)</th>
                            <th>ค่าใช้จ่าย (บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of data) {%>
                            <tr>
                                <td><%= i.id%></td>
                                <td><%= i.name%></td>
                                <td><%= i.price%></td>
                                <td><%= i.used%></td>
                                <td><%= parseFloat(i.expenses).toFixed(2)%></td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align:end;"  colspan="4">รวมทั้งหมด</th>
                            <td id="total"></td>
                        </tr>
                        </tfoot>
                </table>

                <script>
                    var table = document.getElementById("table"), sumVal = 0;
        
                    for(var i = 1; i < table.rows.length-1; i++)
                    {
                        sumVal = sumVal + parseFloat(table.rows[i].cells[4].innerHTML);
                    }
                    
                    document.getElementById("total").textContent = sumVal.toFixed(2);
                </script>
            </div>
        </div>
    </div>
</body>
</html>
