<style>
    .container-fluid {
        padding: 12px;
    }

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }

    td.alert {
        border-radius: 0%;
        border-color: black; 
        color: red;
        
    }

</style>

<div class="container-fluid">
    
    
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>ระบบจัดการงานของพนักงาน</h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between" style="gap: 5px;">
        <h5 style="margin-top: 10px; padding-left: 10px;">คิวการทำงานของพนักงาน</h5>
        <div>
            <button  type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#modal-add-queue" onclick="">
                เพิ่มคิวพนักงาน
            </button>
            <% if(db_emp_queue.length>0){ %>
                <a href="manage_emp_queue" class="btn btn-primary mb-2 mr-2">จัดลำดับคิว</a>
            <% } %>
        </div>
    </div>
    <% if(db_emp_queue.length>0){ %>
        <div class="row">
            <div class="col-12">
                <div class="card card-body">
                    
                    <table id="employee_queue" class="table table-bordered table-hover " >
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>คิวลำดับที่</th>
                                <th>ID พนักงาน</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>ชื่อเล่น</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let [i, value] of db_emp_queue.entries()) {%>
                                <tr>
                                    <td><%= value.id%></td>
                                    <td><%= i+1%></td>
                                    <td><%= value.emp_id%></td>
                                    <td><%= value.f_name%></td>
                                    <td><%= value.l_name%></td>
                                    <td><%= value.n_name%></td>
                                    <td>
                                        <div class="">
                                            <button  type="button" class="btn btn-danger p-1 px-1" onclick="del('<%=value.id%>')" >ลบ</button>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% } else{ %>
        <div class="row">
            <div class="col-12">
                <div class="card card-body text-center">- ไม่พบข้อมูล -
                </div>
            </div>
        </div>
    <% } %>

    <div class="d-flex flex-wrap align-content-end justify-content-start" style="gap: 5px; padding-top: 10px;">
        <h5 style="margin-top: 10px; padding-left: 10px;">การทำงานของพนักงาน</h5>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                
                <table id="employee_work" class="table table-bordered table-hover " >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ชื่อ</th>
                            <th>นามสกุล</th>
                            <th>ชื่อเล่น</th>
                            <th>จำนวนงานรายวัน</th>
                            <th>จำนวนงานรายสัปดาห์</th>
                            <th>จำนวนงานรายเดือน</th>
                            <th>สถานะการทำงาน</th>
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of db_emp_work) {%>
                            <tr>
                                <td><%= i.id%></td>
                                <td><%= i.f_name%></td>
                                <td><%= i.l_name%></td>
                                <td><%= i.n_name%></td>
                                <td><%= i.daily_completed_count%></td>
                                <td><%= i.weekly_completed_count%></td>
                                <td><%= i.monthly_completed_count%></td>
                                <td>
                                    <% if(i.is_service == 0){ %>
                                        รองาน
                                    <% } else if (i.is_service == 1 && i.onprocess_end_date){ %>
                                        <% let f_end_date = new Intl.DateTimeFormat('id-ID',{ hour: 'numeric', minute: 'numeric'}).format(i.onprocess_end_date) %>
                                        ทำงานเสร็จ <%= f_end_date%> น.
                                    <% } else if (i.is_service == 1){ %>
                                        กำลังทำงาน
                                    <% } else { %>
                                        <%= i.is_service%>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

</div>

<form id="delete" action="manage_emp_work/delete_queue" method="post" class="d-inline">
    <input type="number" name="id_del" class="d-none" value="">
</form>

<!-- =================== Modal Insert Employee ===================-->
<div class="modal fade" id="modal-add-queue">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-purple">
            <h4 class="modal-title ">เพิ่มพนักงาน</h4>
            <button type="button " class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-light">&times;</span>
            </button>
          </div>
          <form id="mange_add" action="manage_emp_work/add_queue" method="post">
              <div class="modal-body">
              <!-- ============================== Form ==============================-->
                  <div class="form-group">
                      <label > เลือกพนักงาน</label>
                      <select class="form-control" name="emp_id">
                          <% for(let i of db_emp_no_queue) {%>
                              <option value="<%= i.id%>"><%= i.id%> - <%= i.f_name%> <%= i.l_name%> (<%= i.emp_type%>-<%= i.description%>)</option>
                          <%}%>
                      </select>
                  </div>
              </div>
              <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                  <button type="submit" class="btn btn-primary" onclick="return vali('add')">ยืนยัน</button>
              </div>
  
          </form>
  
        </div>
      </div>
</div>

<script src="/axios/axios.min.js"></script>
<script>
    
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }
</script>

<script>
    $(function () {
      $('#employee_queue').DataTable({
        "paging": true,
        "lengthMenu": [[5, 10, 20], [5, 10, 20]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "order": [[1, 'asc']],
      }); 
    });

    $(function () {
      $('#employee_work').DataTable({
        "paging": true,
        "lengthMenu": [[5, 10, 20], [5, 10, 20]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      }); 
    });

    function del(id){
        $("input[name=id_del]").val(parseInt(id))
        if(confirm("ยืนยันการลบข้อมูล") == true){
            $("#delete").submit();
        }
    }

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "add"){
            let emp_id = $("select[name=emp_id]").val();
    
            if(emp_id!=null){
                $('#mange_add').submit();
            }else{
                toastr.error("! กรุณาเลือกพนักงาน")
            }
            return false;
        }
        
    }
  
</script>

<!-- ============================= ERROR Zone =============================-->
<!-- toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.') -->
<!-- ============================= ERROR Zone =============================-->