<style>
    .container-fluid {
        padding: 12px;
    }

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal-footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .form-control {
        background-color: rgba(175, 175, 175, 0.3);
    }
</style>

<div class="container-fluid">
    
    <div class="d-flex justify-content-center">
        <div class="">
            <div class="card card-body text-center" style="padding-left: 40px; padding-right: 40px;">
                <h3>ระบบจัดการการนัดหมาย</h3>
            </div>
        </div>
    </div>

    <div class="d-flex  justify-content-start mb-2" style="gap: 10px;">
        <h5 style="margin-top: 10px; padding-left: 10px; font-weight: bold;">รายการนัดหมายของลูกค้า Vip</h5>
        <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-search-add-vip" onclick="">
            เพิ่มนัดหมาย
        </button>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                
                <table id="appointment_vip" class="table table-bordered table-hover " >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>เวลาเริ่ม</th>
                            <th>เวลาสิ้นสุด</th>
                            <th>ลูกค้า</th>
                            <th>คอร์ส</th>
                            <th>บริการ</th>
                            <th>ร้าน</th>
                            <th>พนักงาน</th>
                            <th>ห้อง</th>
                            <th>สถานะ</th>
                            <th>การยืนยัน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of db_appt_vip) {%>
                            <tr>
                                <td><%= i.id%></td>
                                <% if(i.start_date){ %>
                                    <% let f_date_start = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short'}).format(i.start_date) %>
                                    <td><%= f_date_start%></td>
                                <% } else{ %>  
                                    <td>-</td>
                                <% } %>
                                <% if(i.end_date){ %>
                                    <% let f_date_end = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short'}).format(i.end_date) %>
                                    <td><%= f_date_end%></td>
                                <% } else{ %>  
                                    <td>-</td>
                                <% } %>
                                <td><%= i.cust_fname%> <%= i.cust_lname%></td>
                                <td><%= i.course_name%> </td>
                                <td><%= i.serv_name%> </td>
                                <td><%= i.shop_name%></td>
                                <td><%= i.emp_fname%> <%= i.emp_lname%></td>
                                <td><%= i.room_name%></td>
                                <td><%= i.status%></td>
                                <td> <% if (i.is_confirmed==1) { %>
                                    Confirmed
                                  <% } else { %>
                                    -
                                  <% } %></td>
                               
                                <td>
                                    <div class="" style="display: flex; gap: 5px;">
                                        <% if (["Scheduled","Onprocess"].includes(i.status)){%>
                                            <% if (i.status=="Scheduled"){ %>
                                                <button  type="button" class="btn btn-success p-1 px-1" data-toggle="modal" 
                                                data-target="#modal-serve" onclick="update('serve','','<%=JSON.stringify(i)%>') ">
                                                    บริการ
                                                </button>
                                                <button  type="button" class="btn btn-warning p-1 px-1" 
                                                data-toggle="modal" data-target="#modal-update-standard" 
                                                onclick="update('std_update','_std','<%=JSON.stringify(i)%>') ">
                                                    แก้
                                                </button>
                                            <% } else{ %>
                                                <button  type="button" class="btn btn-success p-1 px-1" data-toggle="modal" 
                                                data-target="#modal-sale" onclick="update('sale','','<%=JSON.stringify(i)%>') ">
                                                    ขาย
                                                </button>
                                            <% }%>
                                            <button  type="button" class="btn btn-danger p-1 px-1" onclick="cancel('<%=i.id%>')" >ยกเลิก</button>
                                        <% }%>
                                        <button  type="button" class="btn btn-danger p-1 px-1" onclick="del('<%=i.id%>')">ลบ</button>
                                    </div>
                                </td>
                                
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex  justify-content-start mb-2" style="gap: 10px; padding-top: 10px;">
        <h5 style="margin-top: 10px; padding-left: 10px; font-weight: bold;">รายการนัดหมายของลูกค้าทั่วไป</h5>
        <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add-standard-old" onclick="">
            เพิ่มนัดหมายรายเก่า
        </button>
        <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add-standard-new" onclick="">
            เพิ่มนัดหมายรายใหม่
        </button>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                
                <table id="appointment_standard" class="table table-bordered table-hover " >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>เวลาเริ่ม</th>
                            <th>เวลาสิ้นสุด</th>
                            <th>ลูกค้า</th>
                            <th>บริการ</th>
                            <th>ร้าน</th>
                            <th>พนักงาน</th>
                            <th>ห้อง</th>
                            <th>สถานะ</th>
                            <th>การยืนยัน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of db_appt_standard) {%>
                            <tr>
                                <td><%= i.id%></td>
                                <% if(i.start_date){ %>
                                    <% let f_date_start = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short', hour12: false}).format(i.start_date) %>
                                    <td><%= f_date_start%></td>
                                <% } else{ %>  
                                    <td>-</td>
                                <% } %>
                                <% if(i.end_date){ %>
                                    <% let f_date_end = new Intl.DateTimeFormat('id-ID',{ day:'2-digit', month:'2-digit', year:'numeric', hour: '2-digit', minute: 'numeric', second: 'numeric', timeZoneName: 'short', hour12: false}).format(i.end_date) %>
                                    <td><%= f_date_end%></td>
                                <% } else{ %>  
                                    <td>-</td>
                                <% } %>
                                <td><%= i.cust_fname%> <%= i.cust_lname%></td>
                                <td><%= i.serv_name%></td>
                                <td><%= i.shop_name%></td>
                                <td><%= i.emp_fname%> <%= i.emp_lname%></td>
                                <td><%= i.room_name%></td>
                                <td><%= i.status%></td>
                                <td> <% if (i.is_confirmed==1) { %>
                                    Confirmed
                                  <% } else { %>
                                    -
                                  <% } %></td>
                               
                                <td>
                                    <div class="" style="display: flex; gap: 5px;">
                                        <% if (["Scheduled","Onprocess"].includes(i.status)){%>
                                            <% if (i.status=="Scheduled"){ %>
                                                <button  type="button" class="btn btn-success p-1 px-1" data-toggle="modal" 
                                                data-target="#modal-serve" onclick="update('serve','','<%=JSON.stringify(i)%>') ">
                                                    บริการ
                                                </button>
                                                <button  type="button" class="btn btn-warning p-1 px-1" 
                                                data-toggle="modal" data-target="#modal-update-standard" 
                                                onclick="update('std_update','_std','<%=JSON.stringify(i)%>') ">
                                                    แก้
                                                </button>
                                            <% } else{ %>
                                                <button  type="button" class="btn btn-success p-1 px-1" data-toggle="modal" 
                                                data-target="#modal-sale" onclick="update('sale','','<%=JSON.stringify(i)%>') ">
                                                    ขาย
                                                </button>
                                            <% }%>
                                            <button  type="button" class="btn btn-danger p-1 px-1" onclick="cancel('<%=i.id%>')" >ยกเลิก</button>
                                        <% }%>
                                        <button  type="button" class="btn btn-danger p-1 px-1" onclick="del('<%=i.id%>')" >ลบ</button>
                                    </div>
                                </td>
                                
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- =================== Modal Delete Appointment ===================-->
<form id="delete" action="manage_appointment/delete" method="post" class="d-inline">
    <input type="number" name="id_del" class="d-none" value="">
</form>

<!-- =================== Modal Cnacel Appointment ===================-->
<form id="cancel" action="manage_appointment/cancel" method="post" class="d-inline">
    <input type="number" name="id_cancel" class="d-none" value="">
</form>

<!-- =================== Modal Insert Standard Appointment New Customer ===================-->
<%- include('../modals/add_appointment_new', {mode:'new_add', keyword:'_new'}); %>

<!-- =================== Modal Insert Standard Appointment Old Customer ===================-->
<%- include('../modals/add_appointment_old', {mode:'old_add', keyword:'_old'}); %>

<!-- =================== Modal Insert Appointment Vip ===================-->
<%- include('../modals/add_appointment_vip_search', {mode:'vip_add', keyword:'_vip'}); %>
<%- include('../modals/add_appointment_vip', {mode:'vip_add', keyword:'_vip'}); %>


<!-- =================== Modal Update Vip Appointment ===================-->
<%- include('../modals/update_appointment_vip', {mode:'vip_update', keyword:'_vip'}); %>

<!-- =================== Modal Update Standard Appointment ===================-->
<%- include('../modals/update_appointment_standard', {mode:'std_update', keyword:'_std'}); %>

<!-- =================== Modal Serve Appointment ===================-->
<%- include('../modals/serve_appointment'); %>


<!-- =================== Modal sale ===================-->
<div class="modal fade" id="modal-sale">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">บันทึกการขาย</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>

        <form id="sale" action="manage_appointment/sale" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
                <div class="form-group">
                    <label >ID การนัดหมาย</label>
                    <input type="text" class="form-control" name="Sappt_id" readonly>
                </div>
                <div class="form-group">
                    <label >บริการ</label>
                    <input type="text" class="form-control" name="Sserv_data" readonly>
                </div>
                <div class="form-group">
                    <label >สิ้นค้าที่ใช้</label>
                    <input type="text" class="form-control" name="Sproduct" readonly>
                </div>
                <div class="form-group">
                    <label >วันเวลา</label>
                    <input type="datetime-local" class="form-control" name="Sdatetime" step="60">
                </div>
                
                <div class="form-group">
                    <label >ราคา</label>
                    <input type="number" class="form-control" name="Sprice">
                </div>
                <div class="form-group" id="product_reuse"></div>
                <input type="number" name="id_update" class="d-none" value="">
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('sale')">ยืนยัน</button>
            </div>

        </form>

      </div>
    </div>
</div>



<script src="/axios/axios.min.js"></script>
<script>
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }

    function getServiceData4add(mode, keyword, datetime, shop_id) {
        // console.log(datetime, shop_id)
        axios({
            url:'/services/get_employee_room_available',
            method:'get',
            params:{
                datetime:datetime,
                shop_id:shop_id,
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result.data)
            let employees = result.data.employees;
            let rooms = result.data.rooms;
            // console.log(employees,rooms);
            const selectEmployee = document.getElementById(`emp_id${keyword}`);
            const selectRoom = document.getElementById(`room_id${keyword}`);

            // Clear the existing options of the select
            selectEmployee.innerHTML = '';
            selectRoom.innerHTML = '';

            if (employees.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกพนักงาน`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
                employees.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.value = item.id;
                    optionElement.text = `${item.f_name} ${item.l_name}`;
                    selectEmployee.appendChild(optionElement);
                });
                selectEmployee.disabled = false;
            }
            else{
                selectEmployee.disabled = true;
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
            }
            if (rooms.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกห้อง`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
                rooms.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.value = item.id;
                    optionElement.text = `${item.name}`;
                    selectRoom.appendChild(optionElement);
                });
                selectRoom.disabled = false;
            }
            else{
                selectRoom.disabled = true
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
            }
        }).catch((error)=>{
            toastr.error("404 Error Not Found",error)
        });
    }

    // selected_emp, selected_room is optional for setup modal
    function getServiceData4update(mode, keyword, appt_id, datetime, shop_id, selected_emp, selected_room) {
        // console.log(datetime, shop_id)
        axios({
            url:'/services/get_employee_room_4_change',
            method:'get',
            params:{
                appt_id:appt_id,
                datetime:datetime,
                shop_id:shop_id,
            },
            timeout:3000
        }).then((result)=>{
            // console.log(result.data)
            let employees = result.data.employees;
            let rooms = result.data.rooms;
            // console.log(employees,rooms);
            
            const selectEmployee = document.getElementById(`Uemp_id${keyword}`);
            const selectRoom = document.getElementById(`Uroom_id${keyword}`);

            // Clear the existing options of the select
            selectEmployee.innerHTML = '';
            selectRoom.innerHTML = '';

            if (employees.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกพนักงาน`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
                employees.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.id = `Uemp${keyword}_${item.id}`;
                    optionElement.value = item.id;
                    optionElement.text = `${item.f_name} ${item.l_name}`;
                    selectEmployee.appendChild(optionElement);
                });
                selectEmployee.disabled = false;
            }
            else{
                selectEmployee.disabled = true;
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectEmployee.appendChild(optionElement);
            }
            if (rooms.length > 0) {
                const optionElement = document.createElement('option');
                optionElement.text = `เลือกห้อง`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
                rooms.forEach(item => {
                    const optionElement = document.createElement('option');
                    optionElement.id = `Uroom${keyword}_${item.id}`;
                    optionElement.value = item.id;
                    optionElement.text = `${item.name}`;
                    selectRoom.appendChild(optionElement);
                });
                selectRoom.disabled = false;
            }
            else{
                selectRoom.disabled = true
                const optionElement = document.createElement('option');
                optionElement.text = `ไม่พบข้อมูล`;
                optionElement.disabled = true;
                optionElement.selected = true;
                selectRoom.appendChild(optionElement);
            }
            if (selected_emp && selected_room) {
                $(`option[id=Uemp${keyword}_${selected_emp}]`).attr("selected","true"),
                $(`option[id=Uroom${keyword}_${selected_room}]`).attr("selected","true")
            }
        }).catch((error)=>{
            toastr.error("404 Error Not Found",error)
        });
    }

    function searchVip(mode, keyword) {
        // console.log(datetime, shop_id)
        let vip_id = $(`input[name=search${keyword}]`).val()
        if (vip_id != "") {
            axios({
                url:'./manage_appointment/search_vip',
                method:'get',
                params:{
                    id:vip_id,
                },
                timeout:3000
            }).then((result)=>{
                // console.log(result.data)
                if (!result.data.error){
                    const services = result.data.services
                    const selectService = document.getElementById(`serv_data${keyword}`);
                    selectService.innerHTML = '';

                    if (services.length > 0) {
                        const optionElement = document.createElement('option');
                        optionElement.text = `เลือกบริการ`;
                        optionElement.disabled = true;
                        optionElement.selected = true;
                        selectService.appendChild(optionElement);
                        services.forEach(item => {
                            const optionElement = document.createElement('option');
                            optionElement.id = `serv_data${keyword}_${item.serv_func_id}`;
                            optionElement.value = `${item.serv_func_id}_${item.time}`;
                            optionElement.text = `${item.name} - ${item.time} นาที - ${item.price} บาท`;
                            selectService.appendChild(optionElement);
                        });
                        selectService.disabled = false;
                    }
                    else{
                        selectEmployee.disabled = true;
                        const optionElement = document.createElement('option');
                        optionElement.text = `ไม่พบข้อมูล`;
                        optionElement.disabled = true;
                        optionElement.selected = true;
                        selectEmployee.appendChild(optionElement);
                    }
                    $(`input[name=cust_id${keyword}]`).val(result.data.id)
                    $('input[name=vip_id]').val(vip_id)
                    $('#modal-add-vip').modal('show');
                    $('#modal-search-add-vip').modal('hide');
                }else{
                    toastr.error(result.data.code)
                }
            }).catch((error)=>{
                toastr.error("404 Error Not Found",error)
            });
        } else{
            toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
        }
    }

    function setServiceVip(mode, keyword, vip_id, selected_serv) {
        axios({
            url:'./manage_appointment/search_vip',
            method:'get',
            params:{
                id:vip_id,
            },
            timeout:3000
        }).then((result)=>{
            if (!result.data.error){
                const services = result.data.services
                const selectService = document.getElementById(`Userv_data${keyword}`);
                selectService.innerHTML = '';

                if (services.length > 0) {
                    const optionElement = document.createElement('option');
                    optionElement.text = `เลือกบริการ`;
                    optionElement.disabled = true;
                    optionElement.selected = true;
                    selectService.appendChild(optionElement);
                    services.forEach(item => {
                        const optionElement = document.createElement('option');
                        optionElement.id = `Userv${keyword}_${item.serv_func_id}`;
                        optionElement.value = `${item.serv_func_id}_${item.time}`;
                        optionElement.text = `${item.name} - ${item.time} นาที - ${item.price} บาท`;
                        selectService.appendChild(optionElement);
                    });
                    selectService.disabled = false;
                    $(`option[id=Userv${keyword}_${selected_serv}]`).attr("selected","true");
                }
                else{
                    selectEmployee.disabled = true;
                    const optionElement = document.createElement('option');
                    optionElement.text = `ไม่พบข้อมูล`;
                    optionElement.disabled = true;
                    optionElement.selected = true;
                    selectEmployee.appendChild(optionElement);
                }
            }else{
                toastr.error(result.data.code)
            }
        }).catch((error)=>{
            toastr.error("404 Error Not Found",error)
        });
    }
</script>



<script>
    $(function () {
      $('#appointment_standard').DataTable({
        "paging": true,
        "lengthMenu": [[5, 10, 20], [5, 10, 20]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
      
    });

    $(function () {
      $('#appointment_vip').DataTable({
        "paging": true,
        "lengthMenu": [[5, 10, 20], [5, 10, 20]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
      
    });

    function selectDatetime(mode,keyword,value){
        document.getElementById(`serv_data${keyword}`).removeAttribute("disabled");
        document.getElementById(`shop_id${keyword}`).removeAttribute("disabled");
    }

    function selectDatetime(mode,keyword,value){
        document.getElementById(`serv_data${keyword}`).removeAttribute("disabled");
        document.getElementById(`shop_id${keyword}`).removeAttribute("disabled");
        checkAvailable4add(mode,keyword);
    }

    function selectShop(mode,keyword,value){
        document.getElementById(`emp_id${keyword}`).removeAttribute("disabled");
        document.getElementById(`room_id${keyword}`).removeAttribute("disabled");
        checkAvailable4add(mode,keyword);
    }

    function checkAvailable4add(mode,keyword){
        let datetime = $(`input[name=start_date${keyword}]`).val();
        let shop = $(`select[name=shop_id${keyword}]`).val();
        console.log(datetime,shop);
        if (datetime && shop){
            getServiceData4add(mode,keyword,datetime,shop);
        }
    }

    function checkAvailable4update(mode,keyword,selected_emp,selected_room){
        let appt_id = $(`input[name=id_update${keyword}]`).val();
        let datetime = $(`input[name=Ustart_date${keyword}]`).val();
        let shop_id = $(`select[name=Ushop_id${keyword}]`).val();
        getServiceData4update(mode,keyword,appt_id,datetime,shop_id,selected_emp,selected_room);
    }

    let oldOpServVip = "";
    let oldOpShopVip = "";
    let oldOpStatusVip = "";
    let oldOpConfirmedVip = "";
    let oldOpServStd = "";
    let oldOpShopStd = "";
    let oldOpStatusStd = "";
    let oldOpConfirmedStd = "";
    function update(mode,keyword,data){
        data = JSON.parse(data)
        console.log(data)
        if (mode == "vip_update") {
            $(`input[name=id_update${keyword}]`).val(data.id);
            $(`input[name=Ustart_date${keyword}]`).val(formatDateTimeForInput(data.start_date));
            setServiceVip(mode,keyword, data.vip_id, data.serv_id);
            let new_select1 = data.shop_id;
            $(`option[id=Ushop${keyword}_${new_select1}]`).attr("selected","true");
            if(oldOpShopVip !== new_select1 ){
                if(oldOpShopVip != ""){
                    $(`option[id=Ushop${keyword}_${oldOpShopVip}]`).removeAttr("selected");
                }
                oldOpShopVip = new_select1 ;
            }
            let new_select2 = data.status;
            $(`option[id=Ustatus${keyword}_${new_select2}]`).attr("selected","true");
            if(oldOpStatusVip !== new_select2 ){
                if(oldOpStatusVip != ""){
                    $(`option[id=Ustatus${keyword}_${oldOpStatusVip}]`).removeAttr("selected");
                }
                oldOpStatusVip = new_select2 ;
            }
            let new_select3 = data.is_confirmed;
            $(`option[id=Uconfirmed${keyword}_${new_select3}]`).attr("selected","true");
            if(oldOpConfirmedVip !== new_select3 ){
                if(oldOpConfirmedVip != ""){
                    $(`option[id=Uconfirmed${keyword}_${oldOpConfirmedVip}]`).removeAttr("selected");
                }
                oldOpConfirmedVip = new_select3 ;
            }
            checkAvailable4update(mode,keyword,data.emp_id,data.room_id)
        }else if (mode == "std_update") {
            $(`input[name=id_update${keyword}]`).val(data.id);
            $(`input[name=Ustart_date${keyword}]`).val(formatDateTimeForInput(data.start_date));
            let new_select1 = data.shop_id;
            $(`option[id=Ushop${keyword}_${new_select1}]`).attr("selected","true");
            if(oldOpShopStd !== new_select1 ){
                if(oldOpShopStd != ""){
                    $(`option[id=Ushop${keyword}_${oldOpShopStd}]`).removeAttr("selected");
                }
                oldOpShopStd = new_select1 ;
            }
            let new_select2 = data.status;
            $(`option[id=Ustatus${keyword}_${new_select2}]`).attr("selected","true");
            if(oldOpStatusStd !== new_select2 ){
                if(oldOpStatusStd != ""){
                    $(`option[id=Ustatus${keyword}_${oldOpStatusStd}]`).removeAttr("selected");
                }
                oldOpStatusStd = new_select2 ;
            }
            let new_select3 = data.is_confirmed;
            $(`option[id=Uconfirmed${keyword}_${new_select3}]`).attr("selected","true");
            if(oldOpConfirmedStd !== new_select3 ){
                if(oldOpConfirmedStd != ""){
                    $(`option[id=Uconfirmed${keyword}_${oldOpConfirmedStd}]`).removeAttr("selected");
                }
                oldOpConfirmedStd = new_select3 ;
            }
            let new_select4 = data.serv_id;
            $(`option[id=Userv${keyword}_${new_select4}]`).attr("selected","true");
            if(oldOpServStd !== new_select4 ){
                if(oldOpServStd != ""){
                    $(`option[id=Userv${keyword}_${oldOpServStd}]`).removeAttr("selected");
                }
                oldOpServStd = new_select4 ;
            }
            checkAvailable4update(mode,keyword,data.emp_id,data.room_id)
        }else if (mode == "serve") {
            $("input[name=SVappt_id]").val(data.id);
            $("input[name=SVemp_id]").val(data.emp_id);
            $("input[name=SVstart_date").val(formatDateTimeForInput(data.start_date));
            $("input[name=SVend_date").val(formatDateTimeForInput(data.end_date));
            $("input[name=SVserv_data]").val(`${data.serv_name} - ${data.serv_time} นาที - ${data.serv_price} บาท`);
            $("input[name=SVshop]").val(data.shop_name);
            $("input[name=SVemp]").val(`${data.emp_fname} ${data.emp_lname}`);
            let product = ""
            for (p of data.product) {
                if (product != "") { product += ' | '}
                product += `${p.prod_name}: ${p.qty}`
            }
            $("input[name=SVproduct]").val(product);
        }else if (mode == "sale") {
            $("input[name=Sappt_id]").val(data.id);
            $("input[name=Semp_id]").val(data.emp_id);
            $("input[name=Sserv_data]").val(`${data.serv_name} - ${data.serv_time} นาที - ${data.serv_price} บาท`);
            let product = ""
            for (p of data.product) {
                if (product != "") { product += ' | '}
                product += `${p.prod_name}: ${p.qty}`
            }
            $("input[name=Sproduct]").val(product);
            let product_reuse = document.getElementById("product_reuse")
            product_reuse.innerHTML = "";
            for (p of data.product){
                if (p.prod_can_used > 1){
                    const label = document.createElement('label');
                    label.textContent = `ID ${p.prod_name} ที่ใช้บริการ`;
                    product_reuse.appendChild(label);
                    const input = document.createElement('input');
                    input.className = "form-control";
                    input.name = `reuse_${p.prod_id}`;
                    input.placeholder = `ID ชี้นที่ 1,ID ชี้นที่ 2,...`;
                    input.maxLength = 10
                    product_reuse.appendChild(input);
                }
            }
            // <input type="text" class="form-control" name="Sprod_reuse" placeholder="ID สินค้าที่ 1,ID สินค้าที่ 2,...">
        }
    }

    function cancel(id){
        $("input[name=id_cancel]").val(parseInt(id))
        if(confirm("ยืนยันการยกเลิกนัด") == true){
            $("#cancel").submit();
        }
    }

    function del(id){
        $("input[name=id_del]").val(parseInt(id))
        if(confirm("ยืนยันการลบข้อมูล") == true){
            $("#delete").submit();
        }
    }

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "old_add"){
            let cust_id = $("input[name=cust_id_old]").val();
            let datetime = $("input[name=start_date_old]").val();
            let serv_id = $("select[name=serv_data_old]").val();
            let shop_id = $("select[name=shop_id_old]").val();
            let emp_id = $("select[name=emp_id_old]").val();
            let room_id = $("select[name=room_id_old]").val();
            if( cust_id && datetime !== "" && serv_id && shop_id && emp_id && room_id ){
                let params= {
                    id:cust_id,
                }
                axios_validation(
                    'manage_appointment/check_can_add',
                    params,
                    '#old_add',
                    'ไม่พบลูกค้า ID นี้'
                );
            }else{
                toastr.error("กรุณาใส่ข้อมูลให้ครบถ้วน")
            }
            return false;
        }else if(mode === "new_add"){
            let f_name = $("input[name=f_name]").val();
            let l_name = $("input[name=l_name]").val();
            let gender = $("input[name=gender]").val();
            let address = $("input[name=address]").val();
            let tel = $("input[name=tel]").val();
            let email = $("input[name=email]").val();
            let datetime = $("input[name=start_date_new]").val();
            let serv_id = $("select[name=serv_data_new]").val();
            let shop_id = $("select[name=shop_id_new]").val();
            let emp_id = $("select[name=emp_id_new]").val();
            let room_id = $("select[name=room_id_new]").val();
            if( f_name !== "" && l_name !== "" && gender !== "" && address !== "" && tel !== "" && email !== "" && 
                datetime !== "" && serv_id && shop_id && emp_id && room_id
            ){
                $("#new_add").submit();
            }else{
                toastr.error("กรุณาใส่ข้อมูลให้ครบถ้วน")
            }
            return false;
        }else if(mode === "vip_add"){
            let datetime = $("input[name=start_date_vip]").val();
            let serv_id = $("select[name=serv_data_vip]").val();
            let shop_id = $("select[name=shop_id_vip]").val();
            let emp_id = $("select[name=emp_id_vip]").val();
            let room_id = $("select[name=room_id_vip]").val();
            if( datetime !== "" && serv_id && shop_id && emp_id && room_id ){
                $("#vip_add").submit();
            }else{
                toastr.error("กรุณาใส่ข้อมูลให้ครบถ้วน")
            }
            return false;
        }else if(mode === "vip_update"){
            let appt_id = $("input[name=id_update_vip]").val();
            let start_date = $("input[name=Ustart_date_vip]").val();
            let serv_id = $("select[name=Userv_data_vip]").val();
            let shop_id = $("select[name=Ushop_id_vip]").val();
            let emp_id = $("select[name=Uemp_id_vip]").val();
            let room_id = $("select[name=Uroom_id_vip]").val();
            if( appt_id !== "" && start_date !== "" && serv_id && shop_id && emp_id && room_id){
                $("#vip_update").submit();
            }else{
                toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
            }
            return false;
        }else if(mode === "std_update"){
            let appt_id = $("input[name=id_update_std]").val();
            let start_date = $("input[name=Ustart_date_std]").val();
            let serv_id = $("select[name=Userv_data_std]").val();
            let shop_id = $("select[name=Ushop_id_std]").val();
            let emp_id = $("select[name=Uemp_id_std]").val();
            let room_id = $("select[name=Uroom_id_std]").val();
            if( appt_id !== "" && start_date !== "" && serv_id && shop_id && emp_id && room_id){
                $("#std_update").submit();
            }else{
                toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
            }
            return false;
        }else if(mode === "sale"){
            let datetime = $("input[name=Sdatetime]").val();
            let price = $("input[name=Sprice]").val();
            if( datetime !== "" && price !== "" ){
                $("#sale").submit();
            }else{
                toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
            }
            return false;
        }
        
    }
  
</script>


<!-- ============================= ERROR Zone =============================-->
<!-- toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.') -->
<!-- ============================= ERROR Zone =============================-->